.lotus-container {
    position: fixed;
    inset: 0;
    overflow: hidden;
    pointer-events: none;
    z-index: 950;
}

.lotus {
    position: absolute;
    width: 45px;
    top: -60px;
    animation-name: fall;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes fall {

    0%{
        transform:translateY(0) rotate(0deg);
        opacity:1;
    }

    100%{
        transform:translateY(110vh) rotate(360deg);
        opacity:0;
    }

}